body{
    background-color: black;
    color: white;
    max-width: 50rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-image: url("background image 1.jpg");
    background-size: cover;
    filter: brightness(100%);
    backdrop-filter: brightness(50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    
}
img{
    width: 80%;
    display: block;
    margin: auto;

}
h1,h2{
    display: block;
    margin: 2rem auto;
    text-align: center;
}
a{
    color: beige;
    background-color: #fff8;
    margin: auto 1rem;
}
main{
    padding: 1rem;
}
